In [2]:
import pandas as pd

In [29]:
import numpy as np

## Q1

In [3]:
pd.__version__

'2.3.1'

## Q2

In [5]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-20 05:31:50--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.007s

2025-09-20 05:31:50 (122 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [6]:
car_data = pd.read_csv("./car_fuel_efficiency.csv")

In [7]:
car_data

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [ ]:
# In pandas, records means rows

In [8]:
# Num of records
car_data.ndim

2

In [9]:
car_data.shape

(9704, 11)

## Q3

In [10]:
# Number of fuel types

In [11]:
car_data['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [16]:
car_data['fuel_type'].unique().size

2

## Q4

# Num cols with missing values
car_data.isna().any()

In [20]:
car_data.isna().any().sum()

np.int64(4)

## Q5

In [ ]:
# max fuel efficiency of cars from Asia

In [22]:
car_data['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [31]:
car_data[car_data['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [30]:
np.max(car_data[car_data['origin'] == 'Asia']['fuel_efficiency_mpg'])

np.float64(23.759122836520497)

## Q6

In [ ]:
# 1) median value in horsepower column

In [32]:
car_data['horsepower'].median()

np.float64(149.0)

In [ ]:
# 2) most frequent value in horsepower aka mode

In [33]:
car_data['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [34]:
# 3) fill missing vals with the mode
hp_mode = 152.0

In [35]:
car_data.fillna({'horsepower': hp_mode})

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [37]:
# sanity check
# rows with na horsepower
na_idx = car_data[car_data['horsepower'].isna()].index

In [39]:
car_data = car_data.fillna({'horsepower': hp_mode})

In [42]:
car_data.loc[na_idx,'horsepower']

3       152.0
5       152.0
11      152.0
60      152.0
65      152.0
        ...
9587    152.0
9625    152.0
9628    152.0
9635    152.0
9688    152.0
Name: horsepower, Length: 708, dtype: float64

In [43]:
# 4) Calc median again
car_data['horsepower'].median()

np.float64(152.0)

## Q7

In [45]:
asia_cars = car_data.loc[car_data["origin"] == "Asia", ["vehicle_weight", "model_year"]]

In [46]:
asia_cars

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [49]:
first = asia_cars[0:7]

In [50]:
first

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [53]:
X = first.to_numpy()

In [54]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [55]:
Xtrans = X.T

In [56]:
Xtrans

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [61]:
XTX = np.matmul(Xtrans, X)

In [63]:
XTX_inv = np.linalg.inv(XTX)

In [64]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [65]:
w = XTX_inv @ Xtrans @ y

In [66]:
w

array([0.01386421, 0.5049067 ])

In [67]:
w.sum()

np.float64(0.5187709081074016)